{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1 class="mb-4">🌿 Salmos da Esperança</h1>
  <p class="lead">Encontre inspiração nos Salmos, um novo a cada dia.</p>
  <br>
  <div class="mt-4">
    <a href="/salmo-aleatorio" class="btn btn-primary m-2">🎲 Gerar Salmo Aleatório</a>
    <a href="/devocional" class="btn btn-success m-2">📅 Devocional Diário</a>
  </div>
  <br><br><br>
  <div class="mt-3">
    <a href="/registrar" >📧 Registre-se para receber o Devocional por E-mail</a>
  </div>
</div>
{% endblock %}
